.table-view{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: transparent;
}

.column-header{
    -fx-text-fill: -fx-primary-color;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -fx-primary-color;
}

.table-row-cell{
    -fx-min-height: 25px;
    -fx-font-family: Arial;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #1094fa;
}

.check-box:disabled{
    -fx-opacity: 1.0 ;
}